.container {
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    background-color: rgb(39, 43, 65);
    color: white;
    height: 50px;
    padding-right: 10px;
    padding-left: 10px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.08);

    .flex {
        display: flex;
        padding: 3px;
    }

    .logo {
        font-size: 24px;
        margin-bottom: 0;

        &:hover {
            cursor: pointer;
        }

        &:first-letter {
            color: #ff0000;
            font-weight: bold;
        }
    }

    .menuButton {
        border: none;
        margin-right: 4px;

        &:hover {
            background-color: #343952;
            color: white;
        }
    }
}
