.page {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-direction: row;
  width: 100%;
  background-color: #ececec;
  overflow: auto;
  overflow-x: hidden;
  height: 100vh;
  padding-bottom: 30px;

  .h1 {
    font-size: 20px;
    padding-left: 10px;
  }

  .main {
    width: 100%;
    padding: 10px;
    margin-bottom: 40px;
  }

  .footer {
    position: fixed;
    bottom: 0;
    right: 0;
    border-top-left-radius: 8px;
    padding: 5px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    width: max-content;
    min-height: 30px;
    background-color: white;
    color: rgb(111, 111, 111);

    img {
      padding-left: 8px;
    }
  }
}
